PAPERLESS_DB_PASSWORD=changeme
PAPERLESS_ADMIN_PASSWORD=changeme
PAPERLESS_SECRET_KEY=changeme
HUGGING_FACE_HUB_TOKEN=hf_your_token_here
GRAFANA_ADMIN_PASSWORD=admin
ORCHESTRATOR_DB_USER=orch
ORCHESTRATOR_DB_PASSWORD=orch
